.side-show{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 77, 77);
    font-size:20px;
    font: 700;
    padding: 5px;
    border-radius: 3px;
    height: 60px;
    width: 300px;
}